input[type="submit"] {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

body {
    background-color: #616161;
}

canvas {
    padding: 0;
    display: block;
}

#signinbutton {
    position: relative;
}

#registerbutton {
    position: relative;
}

#passwordtextbox {
    position: relative;
}

#usernametextbox {
    position: relative;
}

#passwordlabel {
    position: relative;
}

#usernamelabel {
    position: relative;
}

#matchbutton {
    position: relative;
}