input[type="submit"] {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

body {
    background-color: #616161;
}

canvas {
    padding: 0;
    display: block;
}

.grid-container {
    display: grid;
    float:right;
    width:400px;
}

#signinbutton {
    position: relative;
}

#registerbutton {
    position: relative;
}

#passwordtextbox {
    position: relative;
}

#usernametextbox {
    position: relative;
}

#passwordlabel {
    position: relative;
}

#usernamelabel {
    position: relative;
}

#matchbutton {
    position: relative;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}